@CHARSET "ISO-8859-1";

#content-area {
	min-height: 300px;
}

.pres-row {
	margin-bottom: 5px;
}

.icare-label {
	padding-top: 5px !important;
}

.patient-queue-container {
	background-color: #F8FAFB;
	border-color: #DDE2E2;
}

.onhold-label {
	font-size: 10px;
	color: #C0392B;
	text-align: right;
}

.onhold-label:HOVER {
	cursor: pointer;
	font-weight: bold;
}

.label-patient-name {
	font-size: 20px;
}

.login-header-spacer {
	height: 120px;
}

.site-title {
	color: #EE5921;
	font-size: 40px;
}

.prescription-container{
	border: solid 1px #BCBCBC;
	width: 70%;
	margin-bottom: 100px;
	padding: 30px;
}

.line-separator{
	margin-top: 10px;
	border-bottom:solid 1px #BCBCBC;
	width: 100%;
}

.table-bordercolor{
	border: solid 1px;
	border-color: #BCBCBC;
}

.disabled{
	color: gray !important;
}

.links{
	cursor: pointer;
}

.editBtn{
	color: #deb73d;
}

.deleteBtn{
	color: #bd1e13;
}

.opdpaper{
	color: #2e6fe3;
}

.text-label{
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
	margin: 5px;
}

.prescription-input{
	border:none;
	border-bottom: solid 1px #cacaca;
}

.label-text{
	font-weight: bold;
}